.flex-1{
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.p-px {
    padding: 0.3rem;
    background-color: red;
    margin-left: 1rem;
}
.bg {
    background-color: grey;
}